@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Bowlby+One+SC&family=Monoton&family=Palette+Mosaic&family=Roboto+Mono:wght@500&family=Roboto:wght@500&family=STIX+Two+Text:wght@500&family=Sigmar+One&family=Special+Elite&family=Tourney:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover; 
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  background-color: #0c0c0c; 
  width: 100vw; 
  height: 100vh; 
}

#illuminati_icon {
  width: 50px; 
  height: 50px; 
}

#jre_aliens {
  width: 100%;
}

.message {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 95%;
  color: white; 
  padding: 1em; 
  /* background-color: #0e0e0e; */
  margin-top: 10px;
}

.message p {
  margin-top: 15px; 
  text-transform: uppercase;
  text-align: center;
  font-size: 24px; 
  font-family: 'Bowlby One SC', cursive;
  color: #F9EF43;
}

.header {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #D143F9;
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;;
  font-size: 30px;
}

.header_icon {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.header p {
  margin-top: 40px;
  padding-left: 8px; 
}

#time {
  margin-top: -15px; 
  font-size: 24px;
  color: #D143F9;
}

.footer {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #D143F9;
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  text-align: center;
  margin-top: 40px; 
}

.phone_container {
  /* background-color: #0e0e0e; */
  width: 100%;
  margin-top: 10px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone_form {
  width: 90%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputs {
  display: flex; 
  align-content: flex-start;
  width: 100%;
}

#inputs .name {
  width: 50%;
  color: black; 
  padding-left: 10px;
  background-color: white; 
  border: 1px solid #CACACA;
  border-radius: 5px;
  outline: none !important; 
}

#phoneInput {
  width: 100%; 
}

.react-tel-input .form-control {
  width: 97% !important; 
}

.error .react-tel-input .form-control {
  border: 1px solid red !important;
}

.error {
  border-color: red !important;
}

.error .flag-dropdown{
  border-right: 1px solid red !important; 
}

.submit {
  margin-top: 2px; 
  width: 95%; 
  text-align: center;
  padding: 5px; 
  border-radius: 6px;
  font-size: 16px; 
  background-color: #44cfb1;
  border: 2px solid #292626;
  text-transform: uppercase;
  color: #0D1912; 
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.submit:active {
  background-color: #D143F9;
  color: white; 
}

.attendeeCount {
  margin-top: 0px; 
  padding-top: 4px; 
  color: #636262;
  font-family: 'Roboto', sans-serif;
}

.footer p {
  margin-top: 28px;
}

@media (min-width: 635px) {
  body {
    background-position-y: center; 
  }
}

@media (min-width: 525px) {
  body {
    background-position-y: center; 
  }

  .message {
    width: 450px;
  }

  .header {
    margin-top: 10px; 
  }

  .footer {
    margin-bottom: 10px;
  }

  .phone_form {
    width: 450px;
  }
}

@media (min-width: 310px) {
  .header p {
    padding-left: 0px; 
    font-size: 26px; 
  }

  .footer {
    font-size: 26px; 
  }
}

@media (min-width: 570px) {
  body {
    background-position-y: center; 
  }

  .message {
    width: 500px;
  }

  .phone_form {
    width: 500px;
  }
}

@media (min-height: 700px) {
  .footer {
    margin-bottom: 60px; 
  }
}

@media (min-height: 790px) {
  .footer {
    margin-bottom: 80px; 
  }
}

@media (max-height: 670px) {
  .phone_form {
    margin-top: 0px;
  }

  #jre_aliens {
    width: 80%;
  }

  .message p {
    font-size: 18px; 
  }
}

@media (max-height: 570px) {
  .message p {
    font-size: 15px; 
  }
}