@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Bowlby+One+SC&family=Monoton&family=Palette+Mosaic&family=Roboto+Mono:wght@500&family=Roboto:wght@500&family=STIX+Two+Text:wght@500&family=Sigmar+One&family=Special+Elite&family=Tourney:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover; 
  width: 100vw;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  display: flex; 
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  background-color: #252525; 
  height: 100vh; 
  width: 100vw; 
}

#illuminati_icon {
  width: 50px; 
  height: 50px; 
}

#jre_aliens {
  width: 100%;
}

.message {
  display: flex; 
  flex-direction: column;
  align-items: center;
  width: 95%;
  color: white; 
  padding: 2.5%; 
  background-color: #292626;
  /* box-shadow: 2px 2px 2px 2px #22213d; */
  margin-top: -60px; 
}

.message p {
  margin-top: 15px; 
  text-transform: uppercase;
  text-align: center;
  font-size: 24px; 
  font-family: 'Bowlby One SC', cursive;
}

.header {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #F9D143;
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;;
  font-size: 30px;
}

.header p {
  margin-top: 40px;
}

.footer {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #F9D143;
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 3%; 
}

.phone_form {
  margin-top: -40px; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.react-tel-input .form-control {
  width: 100% !important; 
}

.submit {
  margin-top: 2px; 
  width: 95%; 
  text-align: center;
  padding: 5px; 
  border-radius: 6px;
  font-size: 16px; 
  background-color: #F9D143;
  border: 2px solid #292626;
  text-transform: uppercase;
  color: #0D1912; 
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.attendeeCount {
  margin-top: 0px; 
  padding-top: 4px; 
  color: #505050;
  font-family: 'Roboto', sans-serif;
}

.footer p {
  margin-top: 28px;
}

@media (min-width: 635px) {
  body {
    background-position-y: center; 
  }
}

@media (min-width: 525px) {
  body {
    background-position-y: center; 
  }

  .message {
    width: 450px;
  }

  .header {
    margin-top: 10px; 
  }

  .footer {
    margin-bottom: 10px;
  }

  .phone_form {
    width: 450px;
  }
}

@media (min-width: 570px) {
  body {
    background-position-y: center; 
  }

  .message {
    width: 500px;
  }

  .phone_form {
    width: 500px;
  }
}

@media (min-height: 790px) {
  .footer {
    margin-bottom: 80px; 
    margin-top: -40px;  
  }
}

@media (max-height: 670px) {
  .message {
    margin-top: -10px; 
  }

  .phone_form {
    margin-top: 0px;
  }

  #jre_aliens {
    width: 80%;
  }

  .message p {
    font-size: 18px; 
  }
}

@media (max-height: 570px) {
  .message p {
    font-size: 15px; 
  }
}